.img-photo {
    width: 20%;
    height: 10%;
    margin-right: 15px;
    margin-top: 15px;
}

.img-photo:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media (min-width: 300px) and (max-width: 979px) {
    .img-photo {
        margin-right: 6px;
        margin-left: 6px;
    }
}